<!DOCTYPE html>
<html ng-app="sgceApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>SGCE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="http://unpkg.com/angular-ui-router@1.0.0-rc.1/release/angular-ui-router.js"></script>
    <script src="./angular/Controller.js" charset="utf-8"></script>
    <script src="./angular/uiRouter.js" charset="utf-8"></script>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>
    <header ng-controller="indexController">
      <nav class="navbar navbar-default navbar-top">
        <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand logo"><img src="./img/logo.png"></a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a ui-sref="index"><h5 class="navbar-title">INICÍO</h5></a></li>
            <li><a ui-sref="form"><h5 class="navbar-title">CADASTRAR APARELHO</h5></a></li>
            <li><a ui-sref="history"><h5 class="navbar-title">HISTÓRICO DE CONSUMO</h5></a></li>
          </ul>
        </div>
      </nav>
      <nav class="navbar navbar-default navbar-secundary">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Consumo mensal: {{calculoMensal.toFixed(2)}}</a>
          </div>
          <ul class="nav navbar-nav navbar-right" style="display: inline;">
            <li>
              <input type="checkbox" name="amarela" class="checkbox-flag" ng-model="bandeira.amarela">
              <a href="#"><div class="flag flag-yelow"></div></a>
            </li>
            <li>
              <input type="checkbox" name="verde" class="checkbox-flag" ng-model="bandeira.verde">
              <a href="#"><div class="flag flag-green"></div></a>
            </li>
            <li>
              <input type="checkbox" name="vermelho1" class="checkbox-flag" ng-model="bandeira.vermelho1">
              <a href="#"><div class="flag flag-red1"></div></a>
            </li>
            <li>
              <input type="checkbox" name="vermelho2" class="checkbox-flag" ng-model="bandeira.vermelho2">
              <a href="#"><div class="flag flag-red2"></div></a>
            </li>
            <li><a href="#"></a></li>
            <li><a ng-click="sair()">Sair</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div ui-view></div>

  </body>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
</html>
