<div class="container pad-top">
  <div class="row">
    <h3 class="text-center">HISTÓRICO DE CONSUMO</h3>
    <div class="pull-right">
      <input type="text" class="form-control" placeholder="Pesquisar" name="filtro" ng-model="filtro">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4 col-sm-6" ng-repeat="consumo in consumos | filter: filtro">
      <div class="business-card">
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">Aparelho: tal</h3>
            <div><b>Potência:</b> tal</div>
            <div><b>Valor em R$:</b> </div>
            <div><b>Quantidade de aparelhos:</b> </div>
            <div><b>Bandeiras:</b> </div>
            <div><b>Data do calculo:</b> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
