<div class="container pad-top">
  <h3 class="text-center">CÔMODO {{comodo}}</h3>
  <hr>
  <div class="row">
    <form name="formCalculo" ng-submit="submeterFormulario()" novalidate>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Aparelho</label>
          <select 
	          name="fk_aparelho" 
	          class="form-control" 
	          ng-model="calculo.fk_aparelho" 
	          ng-options="item as item.nome for item in aparelhos track by id_aparelho"
	          required>
            <option value="" disabled selected>Selecione um aparelho</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>Quantidade de horas</label>
          <input type="number" name="consumo_em_horas" class="form-control" required ng-model="calculo.consumo_em_horas">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>Quantidade de aparelhos</label>
          <input type="number" name="quantidade_de_aparelhos" class="form-control" required ng-model="calculo.quantidade_de_aparelhos">
        </div>
      </div>
      <div class="col-sm-2 pad-top">
        <button type="submit" name="button" class="btn btn-info">Adicionar <i class="fa fa-plus"></i></button>
      </div>
    </form>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4" ng-repeat="calculo in calculos">
      <div class="business-card">
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">Aparelho: tal</h3>
            <div><b>Potência:</b> tal</div>
            <div><b>Valor em R$:</b> </div>
            <div><b>Quantidade de aparelhos:</b> </div>
            <div><b>Bandeira:</b> </div>
            <div><b>Data do calculo:</b> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
